/* .About-Paragraph{
line-height: 1.6;
padding: 20px ;
margin: 20px;
width: 80%;
position: relative;
left: 100px;   
font-size: larger;
font-weight: 900;
color: black; 
}
.About-Header{
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 0px;
    letter-spacing: 0.15rem;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    

}
.about-container{
    max-width: 850px;
    margin: auto;
    padding: 20px;
}
@media only screen and (max-width: 599px){
    .About-Paragraph{
        width: 70%;
        position: relative;
        top: 50px; 
        left: -10px;
    }
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    
 }
 .reccomendation1{
    width: 50%;
    height: 150px;
    position: relative;
    left: 200px;
    transition: transform 0.3s ease;
 }
 .reccomendation-header{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 8rem;
 }
 body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: wheat;
 }
 section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    color: wheat;
    position: relative;
    background-color: black;
 }

 .About{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
 }
 .About .about-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    text-align: center;
 }
 span{
    color: #b74b4b;
 }
.about-content h3{
font-size: 4rem;
margin-bottom: 1rem;
font-weight: 700;
color: wheat;
}
.about-content{
    position: relative;
    bottom: 250px;
    left: 250px;
}
.about-img img{
    position: relative;
    width: 32vh;
    border-radius: 40%;
    box-shadow: 0 0 25PX solid;
    cursor: pointer;
    transition: 0.2s linear;
}
.text-about{
    width: 70%;
}
.about-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icon a{
    display: inline-flex;
}

/* .my-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
 
} */
.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    transition: 0.5s ease;
    display: flex;
    float: right;
}
@media only screen and (max-width: 599px){

   .About{
    width: 100%;
}
    section{
        width: 140%;
    }
.about-img .my-image{
width: 100px;

}
.about-content{
width: 60%;
margin: 0px -100px;
}
.reccomendation-header{
    font-size: 2.5rem;
position: relative;
right: 110px;
}
.reccomendation1{
    width: 100%;
    margin: 0px -350px;
}
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  section{
    padding: 5rem 10% 8rem;
  }
   .about-content{
   position: relative;
   bottom: -100px;
   left: -50px;
   width: 1000px;
  }
  .reccomendation-header{
    position: relative;
    right: 125px;
  }
.reccomendation1{
    position: relative;
    left: 100px;
}
  }
@media only screen and (min-width: 900px) and (max-width: 1199px) {
    section{
        padding: 5rem 8% 8rem;
    }
   .about-content{
    position: relative;
    bottom: -100px;
    left: -50px;
    width: 1000px;
   }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    section{
        padding: 5rem 10% 8rem;
    }
    .my-image{
        width: 70%;
        margin: 0px -80px;        
    }
  }
  @media only screen and (min-width: 1600px){
    section{
        padding: 5rem 0% 8rem;

    }
    .about-content{
        left: 690px;
        font-size: 2.1rem;
        bottom: 550px;
        width: 80%;
    }
    .my-image{
        height: 80%;
    }
    .reccomendation-header{
        font-size: 3rem;
    }
    .reccomendation1{
        width: 100%;
        height: 100%;
        margin: 0px -530px;
    }
}
@media only screen and(min-width: 2000px){
    .text-about{
        width: 70%;
    }
}
