
  .container-section {
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    position: relative;
    background-color: #00000094;
    
  }
  .username-input-signup:hover{
border: 2px solid #00bfff;
transform: translateY(-.5px);
transform: translateX(-.5px);
  }
  .password-input-signup:hover{
    border: 2px solid  #FFD700;
    transform: translateY(-.5px);
    transform: translateX(-.5px);
      }
      .password-input-signup:focus{
        border-color: #DAA520; /* Change border color on focus */
        box-shadow: 0 0 15px rgba(255, 196, 4, 0.5); /* Enhanced shadow on focus */
        outline: none; /* Remove default outline */
      }
  .Ternary-Button{
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  .Ternary-Button:hover{
    background-color:rgb(20, 20, 20);
  }
  .signup-or-login {
    background-color: hwb(0 0% 100% / 0.437);
    border: 2px solid  #FFD700;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  .Logout-Button{
    background-color: hwb(0 0% 100% / 0.437);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid  #FFD700;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  .Logout-Button:hover{
   background-color:rgb(48, 48, 48) ;
  }
  
  .guestButton {
    background-color: #00539F;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  .guestButton:hover{
  background-color: rgb(19, 19, 19);
  transition: all 0.2s ease-in-out;
  }
  
  .signup-header{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    right: 260px;
    bottom: 25%;
  }
  .prompt-overlay{
    font-size: small;
    display: flex;
    color: white;
    font-family: monospace;
  }
  .password-signup-label{
    color: white;
  }

  .username-input-login {
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
  }
  .password-input-login {
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
  }
  .username-label{
    color: #fff;
  }
  .icon-password{
    width: 20%;
    height: 20%;
  }
  .username-input-signup{
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
    position: relative;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 10px;
  }
 

  .ternary-text{
    font-size: small;
    display: flex;
    color: white;
    position: relative;
  }
  .background-image-wilderness{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 110%;
    position: fixed;
    top: 0;
    left: -20;
    z-index: -1;
  }
  
  @media only screen and (min-width: 1600px) {
    .container-section {
      padding: 20px;
      margin: 20px auto;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    background-color: #040a1147;
      width: 50%;
      height: 430px;
      position: relative;
    }
    
  
    .signup-header {
      font-size: 40px;
      font-weight: 600;margin-bottom: 20px;
      position: relative;right: 340px;
      bottom: 30%;
    }}
  
  @media only screen and (min-width: 600px) and (max-width: 1222px){
    .container-section{
      width: 200px;
      height: 450px;
      position: relative;
    }
    .password-input-signup{
      width: 120px;
      padding: 10px 20px;
      margin: 10px 5px;
    }
    .usernaem-input-signup{
      width: 120px;
     padding: 10px 20px;
     margin: 10px 5px;
    }
  }
  
  .Login-Title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
  }
  .container-section {
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    position: relative;
  }

  .Ternary-Button{
    background-color: hwb(0 0% 100% / 0.437);
    border: 2px solid   #FFD700;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }


  
  .guestButton {
    background-color: hwb(0 0% 100% / 0.437);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid  #FFD700;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  .guestButton:hover{
  background-color:rgb(48, 48, 48);
  transition: all 0.2s ease-in-out;
  }
  
  .signup-header{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    right: 260px;
    bottom: 25%;
  }

  .username-input-login {
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
  }
  .password-input-login {
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
  }
  .username-input-signup{
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
  }
  .password-input-signup{
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0;
  }
  
  .ternary-text{
    font-size: small;
    display: flex;
    color: black;
    position: relative;
  }
 
 
  @media only screen and (min-width: 1600px) {
    .container-section {
      padding: 20px;
      margin: 20px auto;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.453);
      width: 50%;
      height: 430px;
      position: relative;
    }
    
  
    .signup-header {
      font-size: 40px;
      font-weight: 600;margin-bottom: 20px;
      position: relative;right: 340px;
      bottom: 30%;
    }}
  @media only screen and (max-width: 599px) {
    .username-input-login {
      width: 200px;
       padding: 10px 20px;
       margin: 10px 0px;
       border-radius: 10px;
     }
     .password-input-login{
       width: 200px;
       padding: 10px 20px;
       margin: 10px;
       border-radius: 10px;
     }
     .username-input-signup{
      width: 200px;
     }
     .password-input-signup{
      border-radius: 10px;
      width: 200px;
     }
     .container-section {
      padding: 20px;
      margin: 20px auto;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.453);
      width: 100%;
      height: 450px;
    }
  }

  
  