.container-blogs{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.589);
}
.createblogs-container{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.update-container{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.input-blog-title{
    border: 2px solid gold;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.Update-Blog{
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    border: .5px solid gold;
    border-radius: 5px;
    padding: 10px;
}
.input-blog-author{
border: 2px solid gold;
border-radius: 5px;
padding: 10px;
margin: 10px;
text-align: center;
}
.input-blog-content{
    border: 2px solid gold;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.button-blog-create{
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    border: .5px solid gold;

    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.content-image{
    width: 50%;
    height: 300px;
    object-fit: cover;
    position: relative;
    bottom: 65px;
    filter: brightness(.6);
}
.content-header{
    float:right;
    width: 35%;
    margin: 20px 80px;
}
.content-text{
    color: white;
    position: relative;
    bottom: 200px;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    line-height: 1;
    padding: 25px;
    width: 450px;
 
}