body{
    background-color: black;
   margin: 0px;
   padding: 0px;

}
.center-Blog{
    text-align: center;
    border: 2px solid black;
    position: relative; 
    bottom: 50px;
    margin: 25px;
  }
  .contact-tag{
    position: relative; 
bottom: 8px;
    padding: 10px;
    margin: 20px;
  }
  .contact-UL{
    position: relative;
    left: 20px;

    list-style-type: none;
  }
  .contact-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 366px;
    height: 400px;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.100);
    align-items: center;
    color: white;
    font-weight: 900;
  margin: -100px 680px;
  position: relative;
  bottom: 100px;
  right: 380px;
  }
  .email-label{
    position: relative;
    right: 10px;
    font-weight: 900;
    font-size: 18px;
  }
  .email-input{
    padding: 5px;
    margin: 15px;
    position: relative;
    right: 10px;
  }

  .name-label{
    padding: 5px;
    position: relative;
    right: 20px;
    font-size: 18px;
  }
  .message-input{
    padding: 0px 0px 100px 200px;
    margin: 15px;
    position: relative;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
  }
  .message-button{
    padding: 10px;
    margin: 15px;
    background-color: rebeccapurple;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border-radius: 10px;
  }
  @media only screen and (max-width: 599px) {
   .center-Blog{
        width: 100%;
        bottom: 0px;
        margin: 0px -10px;
    }
    .contact-UL{
      padding: 10px;
    }
    .contact-container{
      width: 100%;
      margin: 0px 340px;
    }
}

  