.content-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    position: relative; /* Allow positioning of child elements */
    padding: 20px; /* Padding inside the container */
    margin-top: 50px; /* Add margin to push it down from the navbar */
}

/* darkmode.css */

body.dark-mode {
    background-color: #000000;
    color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

.content-container {
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-style-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    top: -20px;
}

.dark .toggle-style-button {
    background-color: #444;
    color: #fff;
}

.light .toggle-style-button {
    background-color: #ddd;
    color: #000;
}
@media only screen and (max-width: 599px){
    .toggle-style-button{
        position: relative;
     top: -120px;
       }
 }
 
 @media only screen and (min-width: 600px) and (max-width: 899px) {
  .toggle-style-button{
    position: relative;
    top: 5px;
  }
   }
 @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .toggle-style-button{
        position: relative;
     top: -30px;
       }
   
 }
 @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .toggle-style-button{
        position: relative;
     top: -150px;
       }
 }


 @media only screen and(min-width: 2000px){
    .toggle-style-button{
        position: relative;
    top: -150px;
       }
 }
