.footer-background {
    background-color: black;
    position: relative;
    bottom: -1530px;
    height: 250px;
    width: 100%;
    font-weight: 900;
    color: #1e90ff;
    list-style-type: none;
}
.ul-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    /* justify-content: space-evenly; Center items horizontally */
    width: 100%;
    height: 200px;
    justify-content: center;
}
  
  .ul-footer li {
    margin: 0 10px; /* Adjust the space between list items */ 
}
@media only screen and (max-width: 599px) {
}
@media only screen and (max-width: 599px){
  .navbar{
    width:1000px
  }
  .HireMeButton{
    position: relative;
    right: -100px;
    border-radius: 10px;
  }
  .footer-background{
    width: 100%;
    margin: 1200px 200px 0px 0px;  

  }
}
.badge-container{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0px 250px;
  bottom: 25px;
 
}
.badge1{
  width: 90%;
  height: 100%;
}
.react-badge{
  width: 90%;
  height: 100%;
}
.Fullstack{
  width: 90%;
  height: 100%;
}
.Javascript{
  width: 90%;
  height: 100%;
}
.JS-text-style{
  color: white;
  padding: 10px;
  margin: 20px;
}
.Fullstack-Paragraph{
  color: white;
  padding: 10px;
  margin:20px;
}
.express-element-route{
  color: white;
  padding: 10px;
  margin: 20px;
}
.react-paragraph-text-style{
  color: white;
  padding: 10px;
  margin: 20px;
}
.resume-page-1{
  width: 90%;
  height: 100%;
}
.resume-page-2{
  width: 90%;
  height: 90%;
}
@media only screen and (min-width: 1600px){
  .footer-background{
    position: relative;

    width: 110%;
  }
}
@media only screen and (min-width: 2000px){
  .footer-background{
    overflow: hidden;
    width: 110%;
    position: relative;
    left: 100px;
  }
  .ul-footer{
    width: 110%;
    height: 250px;
    justify-content: space-evenly;
  }
}