.footer-background {
    background-color: black;
    position: relative;
    bottom: -1530px;
    height: 250px;
    font-weight: 900;
    color: #1e90ff;
    list-style-type: none;
}
.ul-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    /* justify-content: space-evenly; Center items horizontally */
    width: 100%;
    height: 200px;
    justify-content: center;
}
  
  .ul-footer li {
    margin: 0 10px; /* Adjust the space between list items */ 
}
@media only screen and (max-width: 599px) {
}
@media only screen and (max-width: 599px){
  .navbar{
    width:1000px
  }
  .HireMeButton{
    position: relative;
    right: -100px;
    border-radius: 10px;
  }
  .footer-background{
    width: 200%;
    margin: 1200px 200px 0px 0px;  

  }
}