body{
  color: black;
}
.Hobbies-UL{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  padding: 100px;
  margin: 15px;
  font-weight: 700;
  color: black;
}
.Coding {
    position: relative;
    right: 100px;
    width: 400px;
    height: 300px;
    margin: -50px 900px 20px 0px; /* Adjust margin as needed */
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }
  .Coding-Text{
    position: relative;
    bottom: 350px;
    left: 45px;
    display: flex;
    float: right;
    width: 60%;
    
  }
  .Coding-Header{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 365px;
    left: 180px;
  }
  .Reading{
    width: 50%;
    height: 250px;
    display: flex;
    float: right;
    position: relative;
    bottom: 150px;
    left: 130px;
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }
  .Reading-Header{
font-size: 35px;
 margin: 85px;
 position: relative;
 bottom: 100px;
  }
  .Reading-Text{
    position: relative;
    bottom: 340px;
    right: 0px;
    display: flex;
    width: 60%;
  }
  .Fitness{
    width: 400px;
  }
  .Cooking{
    position: relative;
    bottom: 100px;
    left: -100px;
    width: 400px;
    height: 300px;
    margin: -50px 900px 20px 0px; /* Adjust margin as needed */
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }
  .cooking-text{
    position: relative;
    bottom: 350px;
    left: 100px;
    float: right;
    display: flex;
    width:70%;
  }
  .cooking-header{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: -430px;
    left: 450px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .Fitness{
    position: relative;
    bottom: 100px;
    left: -100px;
    width: 400px;
    height: 300px;
    margin: -50px 900px 20px 0px; /* Adjust margin as needed */
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }
  .Fitness-Label{
    font-size: 30px;
    position: relative;
    top: -400px;
    left: 500px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .Fitness-Text{
    position: relative;
    bottom: 350px;
    left: 100px;
    float: right;
    display: flex;
    width: 60%;
  }
  @media only screen and (max-width: 599px) {
.Coding{
transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
 box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
width: 100%;
position: relative;
margin: 0px 20px;

}
.Coding-Text{
width: 150%;
font-size: 15px;
position: relative;
top: 50px;
left: 50px;
}
.Coding-Header{
width: 100%;
position: relative;
left: 0px;
top: 20px;

}
.Reading{
  transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
 width: 100%;
 position: relative;
 top: 80px;
left: 50px;
}
.Reading-Text{
  width: 150%;
  font-size: 15px;
  position: relative;
  top: 10px;
  left: -80px;
}
.Reading-Header{
  position: relative;
  top: 80px;
  left: -80px;
  width: 100%;

}
.Cooking{
  transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
 width: 100%;
 position: relative;
 top: 80px;
left: 50px;
}
.cooking-text{
  position: relative;
  width: 150%;
top: 60px;
left: 100px;
  font-size: 15px;
}
.cooking-header{
display: flex;
justify-content: center;
position: relative;
top: 50px;
left: 0px;

}
.Fitness{
  transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
 width: 100%;
 position: relative;
 top: 150px;
left: 50px;
}
.Fitness-Text{
  position: relative;
  top: 190px;
  left: -20px;
}
.Fitness-Label{
  position: relative;
  top: 140px;
left: 150px;
}
  }
  @media only screen and (min-width: 600px) and (max-width: 899px) {
.Coding{
  width: 90%;
  position: relative;
  right: 75px;
}
.Coding-Text{
  position: relative;
  left: 220px;
}
.Coding-Header{
  width: 20%;
  margin: 0px 435px;
}
.Reading{
  position: relative;
  left: 250px;
  bottom: 150px;
  right: -125px;
width: 90%;
}
.Reading-Text{
  position: relative;
  right: 115px;

}
.Reading-Header{
  position: relative;
  right: 0px 0px;
  top: 60px;
  }

.second-navbar{
  position: relative;
  
  font-size: samll;
  width: 110%;
    }
  .box1 .box2 .box3 .box4{
    position: relative;
    top: 1000px;
    }
  }
  

  @media only screen and (min-width: 900px) and (max-width: 1199px) {
  }

  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .Coding-Text{
      font-size: 25px
    }
    .Reading{
      position: relative;
      left: 150px;

      right: -120px;
    }
    .Reading-Text{
      font-size: 25px;
    }
    .Reading-Header{
      position: relative;
      right: 0px 0px;
      top: 140px;
    }
    .cooking-header{
      display: flex-end;
      justify-content: center;
    }
 .cooking-text{
font-size: 25px;
margin: 0px 90px;
  
 }
  }

  @media only screen and (min-width: 1600px) {
    .Coding{
      width: 50%;
    }
    .Coding-Text{
  font-size: 25px;
}
.Reading{
  position: relative;
  width: 50%;
}

.Reading-Text{
  font-size: 25px;
  position: relative;
  left: 0px;
}
.Cooking{
width: 50%;
}
.cooking-text{
  font-size: 25px;
position: relative;
left: 150px;
}
.cooking-header{
position: relative;
left: 730px;
}
  
  }
  @media only screen and(max-width: 2000px){
    .Reading-Header{

    }
  }
  
