
.Hobbies-UL{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  padding: 100px;
  margin: 15px;
  font-weight: 700;
  color: white;
}
.Coding {
    position: relative;
    left: -100px;
    width: 400px;
    height: 300px;
    margin: -50px 900px 20px 0px; /* Adjust margin as needed */
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }
  .Coding-Text{
    position: relative;
    left: 0px;
    bottom: 350px;
    display: flex;
    float: right;
    width: 60%;
    
  }
  .Coding-Header{
    position: relative;
 
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 365px;
    left: 160px;
  }
  .Reading{
    width: 50%;
    display: flex;
    float: right;
    position: relative;
    bottom: 30px;
    left: 100px;
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }
  .Reading-Header{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: 25px;
    left: -50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
  }
  .Reading-Text{
    position: relative;
    bottom: 350px;
    right: 100px;
    display: flex;
    width: 60%;
  }
  .Fitness{
    width: 400px;
  }
  .Cooking{
    position: relative;
    bottom: 100px;
    left: -100px;
    width: 400px;
    height: 300px;
    margin: -50px 900px 20px 0px; /* Adjust margin as needed */
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }
  .cooking-text{
    position: relative;
    bottom: 350px;
    left: 100px;
    float: right;
    display: flex;
    width:70%;
  }
  .cooking-header{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: -430px;
    left: 450px;
  
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  @media only screen and (max-width: 599px) {
.Coding{
  width: 100%;
  margin: -50px 900px 20px 0px; /* Adjust margin as needed */
    transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
    
}
.Coding-Text{
  position: relative;
  left: 300px;
  font-size: smaller;
  width: 100%;
  font-size: large;
}
.Coding-Header{
  width: 160%;
  margin: 0px 0px;
  overflow: hidden;
}
.Reading{
  width: 100%;
  position: relative;
  left: 350px;
  margin: -50px 20px 20px 0px; /* Adjust margin as needed */
  transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
}
.Reading-Text{
  width: 100%;
  font-size: smaller;
  font-size: large;
}
.Reading-Header{
  position: relative;
  top: -380px;
  right: 100px;
  width: 60%;

}
.Cooking{
  margin: -50px 20px 20px 0px; /* Adjust margin as needed */
 transform: perspective(1110px) rotateY(10deg);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */
}
.cooking-text{
  position: relative;
  width: 100%;
  left: 355px;
  font-size: large;
}
.cooking-header{
display: flex;
}
  }
  @media only screen and (min-width: 600px) and (max-width: 899px) {
.Coding{
  width: 90%;
  position: relative;
  right: 75px;
}
.Coding-Text{
  position: relative;
  left: 220px;
}
.Coding-Header{
  width: 20%;
  margin: 0px 435px;
}
.Reading{
  position: relative;
  left: 250px;
  bottom: 150px;
  right: -125px;
width: 90%;
}
.Reading-Text{
  position: relative;
  right: 115px;

}
.Reading-Header{
  position: relative;
  right: 0px 0px;
  top: 60px;
  }
.second-navbar{
  position: relative;
  right: 100px;
  font-size: larger;
  width: 100%;
    }
  .box1 .box2 .box3 .box4{
    position: relative;
    top: 1000px;
    }
  .typing-animation{
    position: relative;
    bottom: 650px;
    right: 500px
   }
  }
  

  @media only screen and (min-width: 900px) and (max-width: 1199px) {
  }

  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
  
  }

  @media only screen and (min-width: 1600px) {

   .Reading {
    width: 400px;
    position: relative;
    bottom: 30px;
    left: 100px;

   }
 
  }
  @media only screen and (min-width: 2000px){
    .Coding{
     width: 60%;
     height: 85%;
    }
    .Coding-Text{
  font-size: 30px;
  width: 60%;
  margin: 0px -600px;
    }
    .Coding-Header{
      width: 100%;
      margin: 20px 500px;
      position: relative;
    }
   
    .Reading{
      width: 60%;
      margin: 0px -100px;    
      transform: perspective(1100px) rotateY(10deg); /* Apply 3D transform */
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); /* Add box shadow */  
    }
    .Reading-Text{
   font-size: 30px;
   width: 70%;
   margin: 25px ;
    }
    .Reading-Header{
      width: 100%;
      margin: 260px 500px 0px;
      }
  
                                                  
  }

