body, html {
  height: 100%;
  margin: 0;
}

.mobileResponsive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 750px; /* Use margin-top for spacing */
  margin-right: 100px; /* Use margin- */
}

.box1, .box2, .box3, .box4 {
  border: 2px solid black;
  width: 400px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
  margin: 10px;
  position: relative;
  bottom: 0;
  height: auto; /* Allow the height to be based on content */
}

.box1 {
  border: 2px solid black;
  width: 400px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
  margin: 10px;
  position: relative;
  bottom: 0;
  height: auto; /* Allow the height to be based on content */
  background: url('https://miro.medium.com/max/1200/0*-PlYrowviB7dC2he');
  background-size: 100% 100%;
}
.box2{
  border: 2px solid black;
  width: 400px;
  opacity: 0;
  background: url('https://static2.bigstockphoto.com/5/6/2/large1500/265967671.jpg');
  animation: fadeIn 1s ease forwards;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
  margin: 10px;
  position: relative;
  bottom: 0;
  height: auto; /* Allow the height to be based on content */

}

.box1-p {
  color: white;
  font-size: 15px;
  background-color: #1E1E1F;
  height: 100px;
  margin: 0;
  width: 100%;

}

.box1-btn {
  padding: 5px 15px;
  color: #FFD700;
  background-color: rgba(0, 0, 0, 0.275);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.box2, .box3, .box4 {
  background-size: 100% 100%;
}

 .box2-p, .box3-p, .box4-p {
  color: white;
  font-size: 15px;
  background-color: #1E1E1F;
  height: 100px;
  margin: 0;
  width: 100%;
}

.box2-btn, .box3-btn, .box4-btn {
  padding: 5px 15px;
  color: #FFD700;
  background-color: rgba(0, 0, 0, 0.275);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Responsive styles */
@media only screen and (max-width: 599px) {
 .mobileResponsive-container{
  display: flex;
  flex-direction: column;
  left: 100px;
 }
 .box1, .box2, .box3, .box4{
width: 100%;
bottom: 600px;
 }
 .box1-p{
  position: absolute;
  bottom: 0px;
  height: auto;
  left: 0px;
    }
    .box2-p{
      position: absolute;
      bottom: 0px;
     height: auto;
      left: 0px;
    }
    .box3-p{
      position: absolute;
      bottom: 0px;
      height: auto;
      left: 0px;

    }
    .box4-p{
      position: absolute;
      bottom: 0px;
      height: auto;
      left: 0px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .mobileResponsive-container{
    display: flex;
    flex-direction: column;
    left: 0px;
   }
   .box1, .box2, .box3, .box4{
  width: 100%;
  height: 200px;
  bottom: 970px;
   }
   .box1-p{
    position: absolute;
    bottom: 0px;
    height: auto;
    left: 0px;
      }
      .box2-p{
        position: absolute;
        bottom: 0px;
       height: auto;
        left: 0px;
      }
      .box3-p{
        position: absolute;
        bottom: 0px;
        height: auto;
        left: 0px;
  
      }
      .box4-p{
        position: absolute;
        bottom: 0px;
        height: auto;
        left: 0px;
      }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .mobileResponsive-container{
    display: flex;
    flex-direction: column;

  
  }
  .footer-background {
    width: 1800px;
    height: 100vh;
    font-size: 40px;
  }


  .box1, .box2, .box3, .box4 {
    position: relative;
    left: 0px;
    bottom: 900px;
    width: 100%;
    height: 350px;
    margin: 0px;
  }
  .box1-p{
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
  }
  .box2-p{
    position: absolute;
    bottom: 0px;
     width: 100%;
    left: 0px;
  }
  .box3-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
  .box4-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .footer-background {
    width: 1800px;
    height: 100vh;
    font-size: 40px;
  }


  .box1, .box2, .box3, .box4 {
    position: relative;
    left: 50px;
    bottom: 700px;
    width: 100%;
    height: 350px;
    margin: 0px;
  }
  .box1-p{
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
  }
  .box2-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
  .box3-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
  .box4-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
}

@media only screen and (min-width: 1600px) {
  .footer-background {
    width: 1800px;
    height: 100vh;
    font-size: 40px;
  }


  .box1, .box2, .box3, .box4 {
    position: relative;
    left: 0px;
    bottom: 600px;
    width: auto;
    height: 350px;
    margin: 0px;
  }
  .box1-p{
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
  }
  .box2-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
  .box3-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
  .box4-p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }

  
}
