
.text-overlay{
padding: 100px;
color: black;
}
.typing-animation {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: #555; /* Adjust color to your preference */
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #000; /* The cursor */
    width: 0; /* Start with zero width */
    animation: typing 2.5s steps(30, end) infinite, blink .75s step-end infinite;
    position: relative;
    bottom: 750px;
    left: 280px;
    color: #3cd070;
    font-weight: 900;
  }
  .inspirational-paragraph {
    display: flex;
    text-align: center;
    padding: 50px;
     /* Add extra space at the bottom */
    width: 100%;
    font-size: large;
    color: black;
    position: relative;
    margin-bottom: -20px; /* Pull the div down */
    animation: fadeIn 1s ease forwards;
  }
  @media only screen and (max-width: 599px){
.text-overlay{
  padding:  0px 650px 0px 0px;
  width: 35%;
}
.inspirational-paragraph{
  padding: 0px 650px 0px 0px;
  width: 70%;
}
.container-flex{
  width: 100%;
  position: relative;
  top: 100px;
  left: 0px;
}
.inspiration-header{
  font-size: 15px;
}
  }
  @media only screen and (min-width: 600px) and (max-width: 1122px){
    .text-overlay{
      padding:  0px 350px 0px 0px;
      width: 100%;
    }
   .inspirational-paragraph{
    padding: 0px 350px 0px 0px;
      width: 100%;
    }
.mobileResponsive-container{
  width: 100%;
  position: relative;
  top: 300px;
  left: 0px;
}
  
  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%; /* Full width at halfway point */
    }
    100% {
      width: 0; /* Reset to zero width */
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  .btn-primary{
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: rebeccapurple;
  } 
}
.Profile-Details{
  height: 300px;
  position: relative; 
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 font-size: 10px;
}  
.profile-picture{
  width: 35px;
  height: 35px;
  position: relative;
  left: 80px;
  
}
.my-name-profile{
  display: flex;
  justify-content: center;
}
.profile-container{
  width: 250px;
position: relative;
font-size: smaller;
color: white;
background-color: #1E1E1F;
border-radius: 10px;
}
.profile-Education{
  color: white;
  background-color: #2b2b2c;
  display: flex;
  justify-content: center;
  position: relative;
  left: 50px;
  margin: 10px 0px;
  width: 150px;
}
@media only screen and (min-width: 1600px) {
  .box1 .box2 .box3 .box4{
    position: relative;
    right: 100px;
  }
}
