.AASoftware1{
    height: 150px;
    width: 150px;
    position: relative;
    top: -450px;
  }

  .AASoftware2:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -450px;
  }
  
  
  .AASoftware2{
    height: 150px;
    width: 150px;
    position: relative;
    top: -450px;
  }
  
  .AASoftware3{
    height: 150px;
    width: 150px;
    position: relative;
    top: -450px;
   
  }
  .AASoftware4{
    height: 150px;
    width: 150px;
    position: relative;
    top: -450px;
  }
  .AASoftware1{
    height: 150px;
    width: 150px;
  }
  .AASoftware1:hover{
  transform: translateY(-20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware2:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware3:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware4:hover{
    transform: translateY(-20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware2{
    height: 150px;
    width: 150px;
  }
  .AASoftware3{
    height: 150px;
    width: 150px;
   
  }
  .content2{
    position: relative;
    top: -450px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    color: black;
    
  }
  .pastprojects{
    position: relative;
    top: -450px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    color: black;
  }
 