.AASoftware1{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
    
  }

  .AASoftware2:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    position: relative;

  }
  
  
  .AASoftware2{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
  }
  
  .AASoftware3{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
   
  }
  .AASoftware4{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
  }
  .AASoftware1{
    height: 150px;
    width: 150px;
  }
  .AASoftware1:hover{
  transform: translateY(-20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware2:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware3:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware4:hover{
    transform: translateY(-20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware2{
    height: 150px;
    width: 150px;
  }
  .AASoftware3{
    height: 150px;
    width: 150px;
   
  }
  .content2{
    position: relative;
    top: -100px;
    right: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    color: white;


    
  }
  .pastprojects{
    position: relative;
    top: -100px;
    left: 290px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    color: black;
    padding: 10px;
    margin:  20px;

  }
  .image-gallery{
    position: relative;
    right: 150px;
    top: 40px;
  }
 