.AASoftware1{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
    
  }

  .AASoftware2:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    position: relative;

  }
  
  
  .AASoftware2{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
  }
  
  .AASoftware3{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
   
  }
  .AASoftware4{
    height: 150px;
    width: 150px;
    position: relative;
    top: -100px;
  }
  .AASoftware1{
    height: 150px;
    width: 150px;
  }
  .AASoftware1:hover{
  transform: translateY(-20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware2:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware3:hover{
    transform: translateY(-20px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware4:hover{
    transform: translateY(-20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
  }
  .AASoftware2{
    height: 150px;
    width: 150px;
  }
  .AASoftware3{
    height: 150px;
    width: 150px;
   
  }
  .content2{
    position: relative;
    top: -100px;
    right: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    color: white;


    
  }
  .pastprojects{
    position: relative;
    top: -100px;
    left: 290px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    color: black;
    padding: 10px;
    margin:  20px;

  }
  .image-gallery{
    position: relative;
    right: 150px;
    top: 40px;
  }
  @media only screen and (max-width: 599px) {
    body{
      background: green;
     }
     .container2{
      width: 510px;
     }
     .mode-toggle-button{
      width: 20%;
      position: relative;
      left: 280px;
     }
     .second-navbar{ 
      margin: 0px 0px 0px -150px;
       width: 100%;
       height: 300px;
       font-size: smaller;
      display: flex;
      flex-direction: column;
      text-align: center;
     }
     .container-flex{
      position: relative;
      bottom: 200px;
     }
     .AASoftware1{
      position: relative;
      
     }
     .AASoftware2{
      position: relative;
      left: 400px;
      top: 710px;
     }
     .AASoftware3{
      position: relative;
      left: 600px;
      top: 520px;
     }
     .AASoftware4{
      position: relative;
      left: 1100px;
      top: 330px;
     }
  }
  

  @media only screen and (min-width: 600px) and (max-width: 899px) {
    body{
      background: red;
     }
  }
  

  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    body{
      background: green;
     }
  }
  
  

  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    body{
      background: blue;
     }
  }
  
  

  @media only screen and (min-width: 1600px) {
    body{
      background: pink;
     }
  }
 