
.resume-page-1{
  width: 70%;
  height: 100%;
  position: relative;
  bottom: 700px;
  z-index: -1;  
}
.resume-page-2{
  width: 70%;
  height: 90%;
  position: relative;
  bottom: 740px;
}
.badge1{

  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
  right: -150px;
}
.badge1:focus{
  border-color: #FFD700; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.Fullstack{
  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none;
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
  right: -150px;
}
.Fullstack:focus{
  border-color: #FFD700; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.Javascript{
  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
  right: -150px;
}
.Javascript:focus{
  border-color: #FFD700; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
 
}

.react-badge{
  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
  right: -150px;
}
.react-badge:focus{
  border-color: #FFD700; /* Change border color on focus */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Increase shadow on focus */
}
.badge-container{

}
.Resume-Header{
  font-family: 'Lobster', cursive; /* Applying the imported font */
  color: white; /* Text color */ /* Font size */
  text-shadow: 
    1px 1px 0 #000, 
    2px 2px 0 #333,
    1px 1px 0 #333, 
    1px 1px 0 #333; /* Creating a 3D effect with text-shadow */
  /* Optionally add more shadows for a deeper effect */
  display: flex;
  justify-content: center;
}
@media only screen and(max-width: 599px){
    body{
      background-color: #333;
    }
  .Name-Header{
    position: relative;
    right: 100px;
  }
  @media only screen and (min-width: 600px) and (max-width: 899px){

}
  }
  

  
  @media only screen and (min-height: 1600px){
    .badge-container{
      position: relative;
      width: 100%;
      top: -160px;
    }
   .resume-page-1{
    position: relative;
    width: 60%;
   }.resume-page-2{
    position: relative;
    top: -400px;
    width: 60%;
   }
 
   .Fullstack{
    border-radius: 40px;
   }
   .Javascript{
    border-radius: 40px;
   }
  
  .badge1{
    border-radius: 40px;
  
  }
  .react-badge{
    border-radius: 40px;
  }
}

  