body{
  color: black;
}
.resume-page-1{
  width: 70%;
  height: 100%;
  position: relative;
  left: 150px;
display: flex;
justify-content: center;
align-items: center;
  z-index: -1;  
}
.resume-page-2{
  width: 70%;
  height: 90%;
  position: relative;
  left: 150px;

}
.download-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}
.download-button{
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 10px;
  border: 2px solid black;
  width: 50%;
  margin: 0px 250px;
}
.download-button:hover{
border-color: #FFD700;
}
.badge1{
  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
  right: 50px;
} 
.badge1:focus{
  border-color: #FFD700; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.Fullstack{
  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none;
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
  right: 50px;
}
.Fullstack:focus{
  border-color: #FFD700; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.Javascript{
  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
  right: 50px;
}
.Javascript:focus{
  border-color: #FFD700; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
 
}

.react-badge{
  width: 30%;
  height: 100%;
  border: 2px solid #FFD700; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  resize: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  position: relative;
 right: 50px;
}
.react-badge:focus{
  border-color: #FFD700; /* Change border color on focus */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Increase shadow on focus */
}
.Resume-Header{
  font-family: 'Lobster', cursive; /* Applying the imported font */
  color: black; /* Text color */ /* Font size */
  text-shadow: 
    1px 1px 0 #000, 
    2px 2px 0 #333,
    1px 1px 0 #333, 
    1px 1px 0 #333; /* Creating a 3D effect with text-shadow */
  /* Optionally add more shadows for a deeper effect */
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  margin-right: 20px;
}
@media only screen and (max-width: 599px){
.resume-page-1{
  position: relative;
  left: -20px;
width: 100%;
  display: flex;
}
.resume-page-2{
  position: relative;
  left: -20px;
  top: 25px;
  display: flex;
  width: 100%;
}
.badge-container{

}
.badge1{
  position: relative;
width: 100%;

left: -200px; 
}
.Fullstack{
  position: relative;
  left: -200px; 
}
.Javascript{
  position: relative;
  left: -200px; 
}
.react-badge{
  position: relative;
  left: -200px; 
}
.Resume-Header{
width: 100%;
margin: 20px;
}
}
  @media only screen and (min-width: 600px) and (max-width: 899px){

}
  
  

  
  @media only screen and (min-width: 1600px){
    .badge-container{
      position: relative;
      display: flex;
      justify-content: center;
    }
   .resume-page-1{
    position: relative;
    width: 60%;
    left: 207px;
   
   }.resume-page-2{
    position: relative;
    left: 207px;
    width: 60%;
   }
 
   .Fullstack{
    position: relative;
    left: 60px;
   }
   .Javascript{
    border-radius: 40px;

    position: relative;
    left: 60px;
   }
  
  .badge1{
    border-radius: 40px;
    position: relative;
    left: 60px;
  
  }
  .react-badge{
    border-radius: 40px;
    position: relative;
    left: 60px;
  }
}
@media only screen and (min-width: 2000px){
  .resume-page-1{
 position: relative;
 top: 100px;
   }.resume-page-2{

   }
   .badge-container{
    width: 80%;
    position: relative;
    right: 100px;
   }
}

  