.parent-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0px 25px;
}
.Parent-Social-Container-box1{
/*coming back to this*/
}


.instagram{
  width: 246px;
  height: 445px;
  position: relative;
  left: -27px;
  border: 2px solid black;
  position: relative;
  left: 20px;
}

.instagram:hover{
  border-color: black;
  border-width: 4px;
}

.linked-in{
  width: 246px;
  height: 443px;
  border: 2px solid black;
  position: relative;
  left: 20px;
}                                                   

.linked-in:hover{
 border-color: black;
 border-width: 4px;
}
.X:hover{
  border-color: black;
  border-width: 4px;
}
.X-box3{
  width: 246px;
  height: 443px;
  border: 2px solid black;
  position: relative;
  left: 20px;                                                                                                           
}
.X-box3:hover{
  border-color: black;
  border-width: 4px;
}

@media only screen and (max-width: 768px) {
.image-gallery{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: -800px;
}
.container-flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 1200px;
justify-content: center;
align-items: center;
}
.Parent.Navigation.Container{
display: flex;
flex-direction: column;
  display: none;
}

.pastprojects{
  position: relative;
  top: -2000px;
  left: 200px;
  width: 50%;
  text-align: center;
    color: white;
}
.instagram{
  width: 150px;
  height: 200px;
  margin: 0px;
}
.linked-in{
  width: 150px;
  height: 200px;
  margin: 0px;
}
.X-box3{
  width: 150px;
  height: 200px;
  margin: 0px;
}
}
@media only screen and (min-width: 600px) and (max-width: 899px){

}
@media only screen and (max-width: 599px){
  .parent-container{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    top: 10px;

  }
.linked-in{
  width: 80%;
  height: 100vh;

}
.X-box3{
  width: 80%;
  height: 100vh;
}
.instagram{
  width: 80%;
  height: 100vh;
}
}
@media only screen and (min-width: 1600px) and (max-width: 1699px){

}
@media only screen and (min-width: 2000px){
  .instagram{
    width: 330px;
  height: 445px;
  position: relative;
  left: -27px;
  border: 2px solid black;
  position: relative;
  left: 20px;
  }
  .X-box3{
    width: 330px;
    height: 445px;
    position: relative;
    left: -27px;
    border: 2px solid black;
    position: relative;
    left: 20px;
  }
  .linked-in{
    width: 330px;
    height: 445px;
    position: relative;
    left: -27px;
    border: 2px solid black;
    position: relative;
    left: 20px;
  }

}
  
  