.Parent-Navigation-Container {
    text-align: center; 
  }
  
  .Social-Navigation {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
   
    width: 360px;
    background-color: transparent;
    margin: 0 auto; 
    position: relative;
 
    float: right;
  }
  
  .Navigation-Socials-Label {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
 margin-right: -1185px;
position: relative;
bottom: 30px
  }
  
  